<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{evenement.naam}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-content-wrapper">

  <div class="main-content">

    <ion-list>

      <ion-list-header>
        {{evenement.categorie}}
      </ion-list-header>

      <ion-item *ngIf="datumweergave?.length < 2; else meerdaags">
        {{datumweergave && datumweergave[0]}}
      </ion-item>

      <ng-template #meerdaags>
        <ion-item>
          Start: <span item-end>{{datumweergave[0]}}</span>
        </ion-item>
        <ion-item>
          Einde: <span item-end>{{datumweergave[1]}}</span>
        </ion-item>
      </ng-template>

      <ion-item>
        <ion-label>Ik doe mee</ion-label>
        <ion-toggle [checked]="evenement.deelname"></ion-toggle>
      </ion-item>

      <ion-list-header>
        Deelnemers
      </ion-list-header>

      <button ion-item *ngFor="let deelnemer of evenement.deelnemers">
        {{deelnemer}}
      </button>

      <ion-list-header style="border-bottom:0">
        Reacties
      </ion-list-header>
    </ion-list>


    <ion-card>

      <ion-card-header>
        <span>JantinaL</span>
        <span float-right>zo 12 dec 2017 - 17:45</span>
      </ion-card-header>

      <ion-card-content>
        <div>Ik wil wel rijden hoor.</div>
        <div>Wie rijdt er mee?</div>
      </ion-card-content>

    </ion-card>

  </div>

  <div class="dialog">
    <ion-textarea #textarea
                  placeholder="Typ hier je reactie.">
    </ion-textarea>
  </div>

</ion-content>
