<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{evenement?.naam}}</ion-title>
  </ion-navbar>

</ion-header>

<lg-spinner *ngIf="spinning"></lg-spinner>

<ion-content class="main-content-wrapper">

  <div class="main-content">

    <ion-list>

      <ion-list-header>
        {{evenement?.categorie}}
      </ion-list-header>

      <ion-item *ngIf="datumweergave?.length < 2; else meerdaags">
        {{datumweergave && datumweergave[0]}}
      </ion-item>

      <ng-template #meerdaags>
        <ion-item>
          Start: <span item-end>{{datumweergave[0]}}</span>
        </ion-item>
        <ion-item>
          Einde: <span item-end>{{datumweergave[1]}}</span>
        </ion-item>
      </ng-template>

      <ion-item *ngIf="evenement?.deelname !== null">
        <ion-label>Ik doe mee</ion-label>
        <ion-toggle [checked]="evenement?.deelname" [disabled]="aanHetAanmelden" (tap)="toggleDeelname()"></ion-toggle>
      </ion-item>

      <ion-list-header *ngIf="evenement?.omschrijving?.length">
        Omschrijving
      </ion-list-header>

      <ion-item *ngIf="evenement?.omschrijving?.length">
        <lg-rich-content [paragrafen]="evenement?.omschrijving"></lg-rich-content>
      </ion-item>

      <ion-list-header *ngIf="evenement?.deelnemers?.length">
        Deelnemers
      </ion-list-header>

      <!--<button ion-item *ngFor="let deelnemer of evenement?.deelnemers">-->
      <ion-item *ngFor="let deelnemer of evenement?.deelnemers">
        {{deelnemer}}
      </ion-item>

      <ion-list-header style="border-bottom:0" *ngIf="evenement?.reacties?.length">
        Reacties
      </ion-list-header>
    </ion-list>


    <ion-card *ngFor="let reactie of evenement?.reacties">

      <ion-card-header>
        <span>{{reactie.auteur}}</span>
        <span float-right>{{reactie.tijdstip | date }}</span>
      </ion-card-header>

      <ion-card-content>
        <lg-poor-content [content]="reactie.berichttekst"></lg-poor-content>
      </ion-card-content>

    </ion-card>

  </div>

  <div class="dialog no-margin-right">

    <ion-textarea #textarea [(ngModel)]="reactie"
                  placeholder="Typ hier je reactie.">
    </ion-textarea>

    <button ion-button round class="icon-button" [disabled]="aanHetVersturen || !reactie" (tap)="verstuurBericht()">
      <ion-icon name="send"></ion-icon>
    </button>

  </div>

</ion-content>
