page-welkom {

  text-align: center;

  .welkom-logo {
    padding: 40px 10%;
  }

  .welkom-tekst {
    font-size: 1.7rem;
    padding-bottom: 15px;
  }

  .welkom-fout {
    color: red;
  }

  form {
    padding-left: 10%;
    padding-right: 10%;

    ion-input {
      margin-bottom: 15px;
    }

    ion-buttons {
      padding-top: 25px;
    }
  }

  .welkom-toelichting {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    font-size: 12px;
  }

}
