<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ledenlijst</ion-title>
  </ion-navbar>

  <div *ngIf="items && !items.length" class="info-message">
    De ledenlijst kon niet worden geladen.
  </div>
</ion-header>

<lg-spinner *ngIf="spinning"></lg-spinner>

<ion-content>

  <ion-searchbar *ngIf="!items || items.length" [(ngModel)]="zoekterm"></ion-searchbar>

  <ion-list>

    <ng-template ngFor let-sectie [ngForOf]="items">

      <ion-list-header *ngIf="!zoekterm">
        {{sectie.titel}}
      </ion-list-header>

      <ng-container *ngFor="let contact of sectie.inhoud">
        <ion-item *ngIf="voldoetAanZoekterm(contact.naam)" (tap)="presentActionSheet(contact)">
          {{contact.naam}}
        </ion-item>
      </ng-container>

    </ng-template>

  </ion-list>

</ion-content>
