// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/variables";

// Het menu krijgt dezelfde kleur als de toolbar
.menu-inner {
  //.header, .content, .item {
  .content, .item {
    background: $toolbar-background;
  }
}

.main-content-wrapper {
  background: $toolbar-background;
}

.main-content {
  background: $background-color;
}

.multi-line {
  white-space: normal;
}

.item-block h2 {
  // Titeltjes zijn kleiner en vet, met een marge eronder
  font-size: smaller;
  font-weight: bold;
}

//.dialog {
//  height: auto;
//  padding: 4px;
//  background-color: $toolbar-background
//}

ion-textarea {
  background-color: $list-background-color;
  border-radius: 8px;
  border: $hairlines-width solid $border-color;

  textarea.text-input {
    margin: 8px 4px 8px 4px;
    border: none;
    font-size: 16px;
  }

  textarea.text-input.text-input-ios {
    font-size: 17px;
  }

  textarea.text-input.text-input-wp {
    width: 100%;
    padding: 0;
    line-height: 22px;
  }

  textarea.text-input::-moz-placeholder {
    font-size: 14px;
  }

  textarea.text-input:-ms-input-placeholder {
    font-size: 14px;
  }

  textarea.text-input::-webkit-input-placeholder {
    font-size: 14px;
  }
}




//// Lijsten met tekstballonnen
.list.balloons {

  background-color: color($colors, dark);
  padding: $content-padding;
  margin: 0;

  .item:first-child {
    margin-top: 0;
  }

  .item {
    // Items krijgen afgeronde hoeken
    border-radius: 8px;
    margin-top: $content-margin;
    padding-left: 8px;

    .label {
      margin-right: 0;
    }

    h2 {
    //  // Titeltjes zijn kleiner en vet, met een marge eronder
    //  font-size: smaller;
    //  font-weight: bold;
      margin-bottom: $content-margin;
    }

    .item-content {
      // content moet geword-wrapt
      white-space: normal;

      div:empty:before {
        // lege divs krijgen hoogte van één regel
        content: "\200b"; // unicode zero width space character
      }
    }

    .item-inner {
      // Geen lijnen tussen de items
      border-width: 0;
    }

  }
}

.item.balloons {
  // Items krijgen afgeronde hoeken
  border-radius: 8px;
  margin-top: $content-margin;
  padding-left: 8px;

  .label {
    margin-right: 0;
  }

  h2 {
    // Titeltjes zijn kleiner en vet, met een marge eronder
    font-size: smaller;
    font-weight: bold;
    margin-bottom: $content-margin;
  }

  .item-content {
    // content moet geword-wrapt
    white-space: normal;

    div:empty:before {
      // lege divs krijgen hoogte van één regel
      content: "\200b"; // unicode zero width space character
    }
  }

  .item-inner {
    // Geen lijnen tussen de items
    border-width: 0;
  }

}

