<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trainingsschema</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [ngModel]="groep">
      <ion-segment-button *ngFor="let keuze of ['A', 'B', 'C']" [value]="keuze" (click)="kiesGroep(keuze)">
        {{ keuze }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>

    <ng-template ngFor let-sectie [ngForOf]="trainingsschema && trainingsschema[groep]">

      <ion-list-header>
        {{sectie.titel}}
      </ion-list-header>

      <!--<button ion-item (click)="gaNaarEvenement()">-->
      <!--<ion-icon name="trophy" item-start></ion-icon>-->
      <!--<h2>Zaterdag 16 dec</h2>-->
      <!--Peize  Ameland Adventurerun-->
      <!--</button>-->

      <ion-item *ngFor="let training of sectie.inhoud">
        <ion-icon item-start></ion-icon>
        <h2>{{kop(training)}}</h2>
        <div class="multi-line">{{training.omschrijving}}</div>
        <p>{{training.locatie}}</p>
      </ion-item>

    </ng-template>

  </ion-list>

</ion-content>
