<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Prikbord</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-content-wrapper">

  <div class="main-content">

    <ion-card *ngFor="let item of items | async">

      <ion-card-header>
        <span>{{item.auteur}}</span>
        <span float-right>{{item.tijdstip | date}}</span>
      </ion-card-header>

      <ion-card-content>
        <div *ngFor="let regel of item.berichttekst">{{regel}}</div>
      </ion-card-content>

    </ion-card>
  
  </div>

  <div>
    <ion-textarea #textarea
                  (input)="resize(textarea)"
                  placeholder="Typ hier je bericht. Berichten zijn ook voor niet-leden zichtbaar op www.loopgroepgroningen.nl/prikbord.">
    </ion-textarea>
  </div>

</ion-content>
