<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Prikbord</ion-title>
  </ion-navbar>

  <div *ngIf="items && !items.length" class="info-message">
    Het prikbord kon niet worden geladen.
  </div>
</ion-header>

<ion-content class="main-content-wrapper">

  <div class="main-content">

    <ion-card *ngFor="let item of items">

      <ion-card-header>
        <span>{{item.auteur}}</span>
        <span float-right>{{item.tijdstip | date}}</span>
      </ion-card-header>

      <ion-card-content>
        <div *ngFor="let regel of item.berichttekst" style="min-height: 1em;">{{regel}}</div>
      </ion-card-content>

    </ion-card>

  </div>

  <div *ngIf="ingelogd | async" class="dialog no-margin-right">

    <ion-textarea
      placeholder="Typ hier je bericht. Berichten zijn ook voor niet-leden zichtbaar op www.loopgroepgroningen.nl/prikbord."
      [(ngModel)]="reactie">
    </ion-textarea>

    <button ion-button icon-only clear [disabled]="aanHetVersturen || !reactie" (tap)="verstuurBericht()">
      <ion-icon name="send"></ion-icon>
    </button>

  </div>

</ion-content>
